@page "/authors"



<h1>Authors</h1>

<form @onsubmit="HandleSubmit">
    <div>
        <label class="authorid" for="AuthorID">
            Author ID:
        </label>
        <input id="AuthorID" name="AuthorID" @bind="@AuthorId" type="text" style="margin-top:5px" />
    </div>
    <div>
        <label class="authorfnm" for="AuthorFName">
            Author's First Name:
        </label>
        <input id="AuthorFname" name="AuthorFName" @bind="@authorFName" type="text" style="margin-top:5px" />
    </div>
    <div>
        <label class="authorlnm" for="AuthorLName">
            Author's Last Name:
        </label>
        <input id="AuthorLname" name="AuthorLName" @bind="@authorLName" type="text" style="margin-top:5px" />
    </div>
    <div>
        <label class="authorbdy" for="AuthorBirthdate">
            Author's Birth Date:
        </label>
        <input id="AuthorBirthdate" name="AuthorBirthdate" @bind="@authorBirth" type="text" style="margin-top:5px" />
    </div>
    <div>
        <button type="submit" class="btnauth" style="margin-top:5px">
            @buttonText
        </button>
    </div>

</form>

<!-- TABLE FOR AUTHORS-->
<h2 style="text-align:center; margin:10px;">AUTHORS TABLE</h2>

@if (AuthorsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="bookstable">
        <thead>
            <tr>
                <th>Author ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birth Date</th>
                <th>Book Count</th>
                <th>Book Names</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Author b in AuthorsList)
            {
                <tr style="margin:15px;">
                    <td>@b.ID</td>
                    <td>@b.FName</td>
                    <td>@b.LName</td>
                    <td>@b.Birthdate</td>
                    <td>@b.Books.Count()</td>
                    <td> @foreach( Book  book in b.Books)
                        {
                            <p> @book.Name </p>
                        }
                    </td>
                </tr>
                <button id="delbtn" name="DeleteBook" onclick="@(() => HandleDeleteAuthor(@b.ID))" class="btndel" style="margin-top:5px"> Delete</button>
                <button id="editbtn" name="editBook" onclick="@(() => HandleEditAuthor(@b))" class="btnedit" style="margin-top:5px"> Update</button>
            }
        </tbody>
    </table>
}
